body{
  background-color: #333;
  color: #fff;
  direction: rtl;
}
.App {
  text-align: center;
}

.taskBg{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 15px;
  text-align: right;
  font-size: 22px;
  position: relative;
}

.taskNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg div {
 display: flex;
 align-items: center;
}

.taskBg .taskText{
   flex: 1;
}

.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
  flex: 1;
}

.iconsWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: #00ff89;
}


.taskBg .iconsWrap span:hover{
  color: yellow;
}

.marginRight{
  margin-right: 20px;
}

